.hero {
    position: relative;
    height: 70vh;

    .hero-img-wrapper {
        
        width: 100%;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
        }
    }

    .hero-container {
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        transform: translateY(-50%); 
        z-index: 1;
        display: flex;
        justify-content: flex-start;
    }

    .hero-div {
        width: 50%;

    }
}
