.whychooseus {

    .whychooseus-container {
        display: block;
        margin-top: 100px;
        background-image: url("/images/dot-map\ 1.svg");
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        

        span {
            color: #D9C3A9;
        }
    
        img {
            margin-top: 80px;
        }
    }
    }

